{% extends 'layoutAdmin.html.twig' %}

{% block breadcrumb %}
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        <li>Home</li>
        <li>Dashboard</li>
        <li>Ecommerce</li>
        <li>Commandes</li>
    </ol>
    <!-- end breadcrumb -->
{% endblock %}

{% block sousBreadcrumb %}
    <h1 class="page-title txt-color-blueDark">
        <i class="fa fa-shopping-cart"></i>
        Ecommerce
        <span>> Les Commandes</span></h1>
{% endblock %}

{% block body %}
    <div
            class="jarviswidget jarviswidget-color-blueDark jarviswidget-sortable"
            data-widget-colorbutton="false"
            data-widget-togglebutton="false"
            data-widget-editbutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-deletebutton="false"
            style=""
            role="widget">
        <header role="heading">
    <span class="widget-icon">
      <i class="fa fa-arrow-down"></i>
    </span>
            <h2>
                <strong>Liste</strong>
                Des Produits</i>
            </h2>

            <span class="jarviswidget-loader">
    <i class="fa fa-refresh fa-spin"></i></span></header>

        <!-- widget div-->
        <div role="content">

            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->
            </div>
            <!-- end widget edit box -->

            <!-- widget content -->
            <div class="widget-body no-padding">

                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Reference</th>
                            <th>Client</th>
                            <th>Date</th>
                            <th>Total HT</th>
                            <th>Total TTC</th>
                            <th>Valider</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for commande in commandes %}
                            <tr>
                                <td>
                                    <a href="{{ path('admin_ecommerce_commandes_show', { 'id': commande.id }) }}">{{ commande.id }}</a>
                                </td>
                                <td>{{ commande.reference }}</td>
                                <td>{{ commande.utilisateur.username }}</td>
                                <td>{% if commande.date %}{{ commande.date|date('d-m-Y H:i') }}{% endif %}</td>
                                <td>{{ commande.totalHT }} €</td>
                                <td>{{ commande.totalTTC }} €</td>
                                <td>
                                    {% if commande.valider %}
                                        <span class="label label-success">Oui <i class="fa fa-check"
                                                                                 aria-hidden="true"></i></span>
                                    {% else %}
                                        <span class="label label-danger">Non <i class="fa fa-exclamation"
                                                                                aria-hidden="true"></i></span>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="btn-group-vertical">
                                        {% if commande.valider %}
                                            <a href="{{ path('admin_ecommerce_commandes_show', { 'id': commande.id }) }}"
                                               class="btn btn-xs bg-color-purple txt-color-white">
                                                <i class="far fa-file-alt" aria-hidden="true"></i>
                                                Facture</a>
                                        {% else %}
                                            {{ form_start(delete_form, {'action': path('admin_ecommerce_commandes_delete', { 'id': commande.id }) }) }}
                                            <button class="btn btn-danger btn-xs" type="submit">
                                                <i class="fa fa-trash"></i>
                                                Supprimer
                                            </button>
                                            {{ form_end(delete_form) }}
                                        {% endif %}
                                        <a href="{{ path('admin_ecommerce_commandes_edit', { 'id': commande.id }) }}"
                                           class="btn btn-xs bg-color-teal txt-color-white">
                                            <i class="fas fa-edit"></i>
                                            Editer</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>

            </div>
            <!-- end widget content -->

        </div>
        <!-- end widget div -->

    </div>
{% endblock %}
