{% extends 'layout.html.twig' %}

{% block titre %}Liens Utiles | {{ parent() }}{% endblock %}

{% block body %}

    <div class="row justify-content-center g-mb-50">
        <div class="col-lg-7">
            <!-- Heading -->
            <div class="text-center mb-0">
                <h2 class="h3 text-uppercase mb-1 g-font-weight-600 "><span class="g-color-primary">Quelques liens utiles</span></h2>
            </div>

            <!-- End Heading -->
        </div>
    </div>

<div class="row g-mb-30">
    <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
            <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
                <div class="d-flex align-self-center g-mt-3 g-mr-15">
                    <img class="g-width-100" src="{{ asset('assets/frontend/img/liensUtiles/ffhb.jpg') }}" alt="logo FFHB">
                </div>
                <div class="media-body">
                    <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" href="http://www.ff-handball.org/">Fédération Française De Handball</a>
                    <span class="g-font-size-13 g-mr-15">
                        <a class="g-color-gray-dark-v4 g-color-primary--hover" href="http://www.ff-handball.org/"><i class="fas fa-link g-pos-rel g-top-1 mr-1"></i> http://www.ff-handball.org/</a>
                    </span>
                </div>
            </li>

            <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
                <div class="d-flex align-self-center g-mt-3 g-mr-15">
                    <img class="g-width-100" src="{{ asset('assets/frontend/img/liensUtiles/logo-lfh.png') }}" alt="Logo LFH">
                </div>
                <div class="media-body">
                    <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" href="http://www.handlfh.org/">Ligue Féminine De Handball</a>
                    <span class="g-font-size-13 g-mr-15">
                        <a class="g-color-gray-dark-v4 g-color-primary--hover" href="http://www.handlfh.org/"><i class="fas fa-link g-pos-rel g-top-1 mr-1"></i> http://www.handlfh.org/</a>
                    </span>
                </div>
            </li>

        </ul>
    </div>

    <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
            <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
                <div class="d-flex align-self-center g-mt-3 g-mr-15">
                    <img class="g-width-100" src="{{ asset('assets/frontend/img/liensUtiles/handball44.jpg') }}" alt="Image Description">
                </div>
                <div class="media-body">
                    <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" href="https://www.handball44.eu/">Comité Départemental de Loire Atlantique</a>
                    <span class="g-font-size-13 g-mr-15">
                        <a class="g-color-gray-dark-v4 g-color-primary--hover" href="https://www.handball44.eu/"><i class="fas fa-link g-pos-rel g-top-1 mr-1"></i> https://www.handball44.eu/</a>
                    </span>
                </div>
            </li>

            <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
                <div class="d-flex align-self-center g-mt-3 g-mr-15">
                    <img class="g-width-100" src="{{ asset('assets/frontend/img/liensUtiles/lnh.png') }}" alt="Image Description">
                </div>
                <div class="media-body">
                    <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" href="http://www.lnh.fr/">Ligue Nationale de Handball</a>
                    <span class="g-font-size-13 g-mr-15">
                        <a class="g-color-gray-dark-v4 g-color-primary--hover" href="http://www.lnh.fr/"><i class="fas fa-link g-pos-rel g-top-1 mr-1"></i> http://www.lnh.fr/</a>
                    </span>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
            <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
                <div class="d-flex align-self-center g-mt-3 g-mr-15">
                    <img class="g-width-100" src="{{ asset('assets/frontend/img/liensUtiles/logo-expert-handball.JPG') }}" alt="Image Description">
                </div>
                <div class="media-body">
                    <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" href="http://www.experts-handball.com/">Equipe de France Masculine</a>
                    <span class="g-font-size-13 g-mr-15">
                        <a class="g-color-gray-dark-v4 g-color-primary--hover" href="http://www.experts-handball.com/"><i class="fas fa-link g-pos-rel g-top-1 mr-1"></i> http://www.experts-handball.com/</a>
                    </span>
                </div>
            </li>

            <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
                <div class="d-flex align-self-center g-mt-3 g-mr-15">
                    <img class="g-width-100" src="{{ asset('assets/frontend/img/liensUtiles/logo_femmes_de_defis.JPG') }}" alt="Image Description">
                </div>
                <div class="media-body">
                    <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" href="http://www.femmesdedefis.com/">Equipe De France Féminine</a>
                    <span class="g-font-size-13 g-mr-15">
                        <a class="g-color-gray-dark-v4 g-color-primary--hover" href="http://www.femmesdedefis.com/"><i class="fas fa-link g-pos-rel g-top-1 mr-1"></i> http://www.femmesdedefis.com/</a>
                    </span>
                </div>
            </li>

        </ul>
    </div>
</div>

{% endblock %}