{{ form_errors(form) }}

<form action="{{ path('add_comment_blog', { 'id': article.id , 'slug':article.slug}) }}" method="POST">
    {{ form_start(form) }}
    <div class="g-mb-30">
        {{ form_widget(form.contenu) }}
        {{ form_errors(form.contenu) }}
    </div>
    <button class="btn u-btn-primary g-font-weight-600 g-font-size-12 text-uppercase g-py-12 g-px-25" type="submit">
        Poster
    </button>
    {{ form_end(form) }}
</form>
