{% extends 'layoutAdmin.html.twig' %}

{% block breadcrumb %}
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        <li>Home</li>
        <li>Dashboard</li>
        <li>Licenciés</li>
    </ol>
    <!-- end breadcrumb -->
{% endblock %}

{% block sousBreadcrumb %}
    <h1 class="page-title txt-color-blueDark">
        <i class="fas fa-users"></i>
        Licenciés
        <span>> Gestion des Licenciés</span></h1>
{% endblock %}

{% block body %}
    <div
            class="jarviswidget jarviswidget-color-blueDark jarviswidget-sortable"
            data-widget-colorbutton="false"
            data-widget-togglebutton="false"
            data-widget-editbutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-deletebutton="false"
            style=""
            role="widget">
        <header role="heading">
    <span class="widget-icon">
      <i class="fa fa-arrow-down"></i>
    </span>
            <h2><strong>Liste</strong> des Licenciés</h2>
            <div class="widget-toolbar" role="menu">

                <div class="btn-group">
                    <a href="{{ path('admin_core_licencie_new') }}" class="btn dropdown-toggle btn-xs btn-primary">
                        <i class="fa fa-plus"></i>
                        <strong>Ajouter un Licencié</strong>
                    </a>
                </div>
            </div>
            <span class="jarviswidget-loader">
    <i class="fa fa-refresh fa-spin"></i></span>
        </header>

        <!-- widget div-->
        <div role="content">

            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->
            </div>
            <!-- end widget edit box -->

            <!-- widget content -->
            <div class="widget-body no-padding">
                <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                    <thead>
                    <tr>
                        <th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Prénom</th>
                        <th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Nom</th>
                        <th>Licence</th>
                        <th>Anniversaire</th>
                        <th>Mail</th>
                        <th data-hide="phone"><i class="fa fa-fw fa-phone text-muted hidden-md hidden-sm hidden-xs"></i> Tel</th>
                        <th data-hide="phone"><i class="fa fa-fw fa-phone text-muted hidden-md hidden-sm hidden-xs"></i> Portable</th>
                        <th data-hide="phone,tablet"><i class="fa fa-fw fa-calendar txt-color-blue hidden-md hidden-sm hidden-xs"></i> Createdat</th>
                        <th data-hide="phone,tablet"><i class="fa fa-fw fa-calendar txt-color-blue hidden-md hidden-sm hidden-xs"></i> Updatedat</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for licencie in licencies %}
                        <tr>
                            <td>{{ licencie.prenom }}</td>
                            <td>{{ licencie.nom }}</td>
                            <td>{{ licencie.numeroLicence }}</td>
                            <td>{% if licencie.birthday %}{{ licencie.birthday|date('d-m-Y') }}{% endif %}</td>
                            <td>{{ licencie.mail }}</td>
                            <td>{% if licencie.tel %}0{{ licencie.tel }}{% endif %}</td>
                            <td>{% if licencie.portable %}0{{ licencie.portable }}{% endif %}</td>
                            <td>{% if licencie.createdAt %}{{ licencie.createdAt|date('d-m-Y H:i') }} par {{ licencie.createdBy.username }}{% endif %}</td>
                            <td>{% if licencie.updatedAt > licencie.createdAt %}{{ licencie.updatedAt|date('d-m-Y H:i') }} par {{ licencie.createdBy.username }}{% endif %}</td>
                            <td>
                                <div class="btn-group-vertical">
                                    <a href="{{ path('admin_core_licencie_show', { 'id': licencie.id }) }}"
                                       class="btn btn-default btn-xs">
                                        <i class="fa fa-eye"></i>
                                        voir</a>
                                    <a href="{{ path('admin_core_licencie_edit', { 'id': licencie.id }) }}"
                                       class="btn btn-xs bg-color-teal txt-color-white">
                                        <i class="fas fa-edit"></i>
                                        editer</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

   </tbody>
                </table>


            </div>
            <!-- end widget content -->

        </div>
        <!-- end widget div -->

    </div>

{% endblock %}
