{% extends 'layoutAdmin.html.twig' %}

{% block breadcrumb %}
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        <li>Home</li>
        <li>Dashboard</li>
        <li>Site</li>
    </ol>
    <!-- end breadcrumb -->
{% endblock %}

{% block sousBreadcrumb %}
    <h1 class="page-title txt-color-blueDark">
        <i class="fa fa-users"></i>
        Users
        <span>> Les membres du site</span></h1>
{% endblock %}

{% block body %}
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-10">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Modifier un membre du Site</strong> </h2>

                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">

                        {{ form_errors(edit_form) }}
                        {{ form_start(edit_form, {'action': path('admin_user_edit', {'id' : user.id }), 'method': 'POST', 'attr' : {'class' : ''} }) }}
                        {{ form_rest(edit_form) }}
                        <footer>
                            <button type="submit" class="btn btn-success">
                                Modifier
                            </button>
                        </footer>
                        {{ form_end(edit_form) }}

                    </div>
                </div>
            </div>
        </article>
    </div>


    <div class="row">
        <div class="col-md-3">
            <a href="{{ path('admin_event_index') }}" class="btn btn-labeled btn-default">
  <span class="btn-label">
    <i class="glyphicon glyphicon-chevron-left"></i>
  </span>Retour
            </a>
        </div>

    </div>

{% endblock %}
