{% extends 'blog/layout/layoutBlog.html.twig' %}

{% block fbshare %}
    <meta property="fb:page_id"       content="{{ id_fb }}" />
    <meta property="og:site_name"     content="{{ site_name }}" />
    <meta property="og:locale "       content="{{ locale }}" />
    <meta property="og:title"         content="{{ article.titre }}"/>
    <meta property="og:type"          content="article"/>
    <meta property="og:url"           content="{{ url }}{{ path('view_blog', { 'id': article.id, 'slug': article.slug }) }}" />
    <meta property="og:description"   content="{{  article.contenu|striptags|convert_encoding('UTF-8', 'iso-2022-jp') }} }}"/>
    <meta property="og:image"         content="{{ url }}{{ asset(article.image.webPath) }}"/>
{% endblock %}

{% block titre %} {{ article.titre }} | {{ parent() }} {% endblock %}

{% block body %}
    <section class="g-bg-cover g-bg-size-cover g-bg-white-gradient-opacity-v1--after" data-bg-img-src="{{ article.image.webPath| imagine_filter('blog') }}">
        <div class="container text-center g-pos-rel g-z-index-1 g-pb-50">
            <div class="row d-flex justify-content-center align-content-end flex-wrap g-min-height-500">
                <div class="col-lg-7 mt-auto">
                    <span class="g-color-white-opacity-0_7 g-font-weight-300 g-font-size-12">{{ article.createdBy.username }}</span>
                    <span class="g-color-white-opacity-0_7 g-font-weight-700 mx-3">&#183;</span>
                    <span class="g-color-white-opacity-0_7 g-font-weight-300 g-font-size-12">{{ article.createdAt|localizeddate("full", "none")|capitalize }}</span>
                </div>
            </div>
        </div>
    </section>
    <section class="container g-pt-10 g-pb-10">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="g-mb-40">
                    <h2 class="g-color-black g-font-weight-600 text-center g-mb-30">{{ article.titre|capitalize }}</h2>
                    <p>
                        {{ article.contenu|md2html}}
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <!-- Tags -->
                <div class="g-mb-10">
                    <ul class="u-list-inline mb-5">
                        {% for categorie in article.categories %}
                        <li class="list-inline-item g-mb-10">
                            <a class="u-tags-v1 g-brd-around g-brd-gray-dark-v5 g-brd-primary--hover g-color-black g-color-white--hover g-bg-primary--hover g-font-weight-600 g-font-size-12 g-rounded-50 g-py-4 g-px-15"
                               href="#">{{ categorie.nom }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- End Tags -->
                <!-- Social Icons -->
                <div class="text-center">
                    <h3 class="h6 g-color-black g-font-weight-600 text-uppercase mb-3">Share:</h3>
                    <ul class="list-inline g-mb-60">
                        <li class="list-inline-item g-mx-2">
                            <a class="u-icon-v1 u-icon-slide-up--hover g-color-gray-dark-v4 g-color-facebook--hover" href="https://www.facebook.com/sharer/sharer.php?u={{ url }}{{ path('view_blog', { 'id': article.id, 'slug': article.slug })}}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-facebook"></i>
                                <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item g-mx-2">
                            <a class="u-icon-v1 u-icon-slide-up--hover g-color-gray-dark-v4 g-color-google-plus--hover" href="https://plus.google.com/share?url={ {{ url }}{{ path('view_blog', { 'id': article.id, 'slug': article.slug })}} }" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-google-plus"></i>
                                <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-google-plus"></i>

                            </a>
                        </li>
                        <li class="list-inline-item g-mx-2">
                            <a class="u-icon-v1 u-icon-slide-up--hover g-color-gray-dark-v4 g-color-linkedin--hover" href="#!">
                                <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-linkedin"></i>
                                <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>


                </div>
                <!-- End Social Icons -->
            </div>
        </div>
    </section>

    <!-- Blog Single Item Comments -->
    <section class="container g-py-100">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <!-- Blog Single Item Comments -->
                <div class="g-brd-bottom g-brd-gray-light-v4 g-pb-30 g-mb-50">
                    <div class="g-brd-y g-brd-gray-light-v4 g-py-30 mb-5">
                        <h3 class="h6 g-color-black g-font-weight-600 text-uppercase mb-0">
                            {% if article.commentaires|length <= 1 %}
                                {{ article.commentaires|length }} Commentaire
                            {% else %}
                                {{ article.commentaires|length }} Commentaires
                            {% endif %}
                        </h3>
                    </div>

                    {% for commentaire in article.commentaires %}
                    <div class="media g-mb-30">
                        <img class="d-flex g-width-60 g-height-60 rounded-circle g-mt-3 g-mr-20" src="{{ asset ('assets/frontend/img/user_no_img.png')}}" alt="Image profil user">
                        <div class="media-body">
                            <div class="d-flex align-items-start g-mb-15 g-mb-10--sm">
                                <div class="d-block">
                                    <h5 class="h6 g-color-black g-font-weight-600">{{ commentaire.createdBy.username }}</h5>
                                    <span class="d-block g-color-gray-dark-v5 g-font-size-11">{{ commentaire.createdAt|localizeddate("full", "none")|capitalize }} à {{ commentaire.createdAt|date('H:i') }}</span>
                                </div>
                            </div>

                            <p>{{ commentaire.contenu|md2html }}</p>
                        </div>
                    </div>
                    {% else %}
                        <p>Pas encore de commentaire, soyez le premier à en laisser un.</p>
                    {% endfor %}

                </div>
                <!-- End Blog Single Item Comments -->

                <h3 class="h6 g-color-black g-font-weight-600 text-uppercase g-mb-30">Ajouter un Commentaire</h3>

                {{ render(controller('App\\Controller\\Blog\\CommentaireController::FormCommentAction', { 'id': article.id , 'slug':article.slug})) }}

        </div>
        </div>
    </section>
    <!-- End Blog Single Item Comments -->

{% endblock %}