<!DOCTYPE html>
<html lang="en">

<head>
  {% block fbshare %}{% endblock %}
  <!-- Title -->
  <title>
    {% block titre %}{{ site_name }}{% endblock %}
  </title>
  <meta name="description" content="{% block description %} {% endblock %}">

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Site officiel du HandBall Atlantique Club Sainte-Pazanne, retrouvez toute l'actualité du club, les prochains matchs et résultats des weekends ainsi que des photos de nos évènements !">
  <meta name="Keywords" content="hbaclub, HBAC Sainte Pazanne,Hbac ste pazanne,Handball,Hand,HBAC,HandBall Atlantique Club,Sainte-Pazanne,sport,club,club handball nantes,club handball loire atlantique">
  <meta name="author" content="hbaclub">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{{ asset ('assets/favicon/favicon.ico') }}">
  <link rel="apple-touch-icon" href="{{ asset ('assets/favicon/apple-touch-icon.png') }}">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ asset ('assets/favicon/apple-touch-icon-57x57.png') }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ asset ('assets/favicon/apple-touch-icon-72x72.png') }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ asset ('assets/favicon/apple-touch-icon-76x76.png') }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ asset ('assets/favicon/apple-touch-icon-114x114.png') }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ asset ('assets/favicon/apple-touch-icon-120x120.png') }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ asset ('assets/favicon/apple-touch-icon-144x144.png') }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ asset ('assets/favicon/apple-touch-icon-152x152.png') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ asset ('assets/favicon/apple-touch-icon-180x180.png') }}">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,600" rel="stylesheet">
  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="{{ asset ('assets/frontend/vendor/bootstrap/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ asset ('assets/frontend/vendor/bootstrap/offcanvas.css') }}">
  <!-- CSS Global Icons -->
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ asset ('assets/frontend/vendor/icon-awesome/css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ asset ('assets/frontend/vendor/icon-line/css/simple-line-icons.css') }}">
  <link rel="stylesheet" href="{{ asset ('assets/frontend/vendor/icon-etlinefont/style.css') }}">
  <link rel="stylesheet" href="{{ asset ('assets/frontend/vendor/icon-line-pro/style.css') }}">
  <link rel="stylesheet" href="{{ asset ('assets/frontend/vendor/icon-hs/style.css') }}">
  <link rel="stylesheet" href="{{ asset ('assets/frontend/vendor/dzsparallaxer/dzsparallaxer.css') }}">
  <link rel="stylesheet" href="{{ asset ('assets/frontend/vendor/dzsparallaxer/dzsscroller/scroller.css') }}">
  <link rel="stylesheet" href="{{ asset ('assets/frontend/vendor/dzsparallaxer/advancedscroller/plugin.css') }}">
  <link rel="stylesheet" href="{{ asset ('assets/frontend/vendor/animate.css') }}">
  <link rel="stylesheet" href="{{ asset ('assets/frontend/vendor/hamburgers/hamburgers.min.css') }}">
  <link rel="stylesheet" href="{{ asset ('assets/frontend/vendor/hs-megamenu/src/hs.megamenu.css') }}">
  <link rel="stylesheet" href="{{ asset ('assets/frontend/vendor/slick-carousel/slick/slick.css') }}">
  <link rel="stylesheet" href="{{ asset ('assets/frontend/vendor/fancybox/jquery.fancybox.css') }}">

  <!-- CSS Unify -->
  <link rel="stylesheet" href="{{ asset ('assets/frontend/css/unify-core.css') }}">
  <link rel="stylesheet" href="{{ asset ('assets/frontend/css/unify-components.css') }}">
  <link rel="stylesheet" href="{{ asset ('assets/frontend/css/unify-globals.css') }}">

  <!-- CSS Customization -->
  <link rel="stylesheet" href="{{ asset ('assets/frontend/css/custom.css') }}">
  {% block stylesheet %}{% endblock %}
</head>

<body>
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.11&appId=105016226575775';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<main>

  {{ include("includeLayout/menu.html.twig") }}

  <!-- breadcrumbs Block -->
  {% block breadcrumbs %}
    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
      <div class="divimage dzsparallaxer--target w-100 g-bg-pos-bottom-center" style="height: 110%; background-image: url({{ asset ('assets/frontend/img/ban_hbac.jpg') }});"></div>

      <div class="container g-bg-cover__inner g-py-180">
        <div class="row align-items-center">
          <div class="col-lg-6  g-mb-0--lg">
            <h2 class="h1 text-uppercase g-color-white g-mb-30">
              <span class="g-bg-primary-dark-v3 g-px-5">HANDBALL CLUB</span><br>
              <span class="g-bg-primary-dark-v3 g-px-5">SAINTE PAZANNE</span><br>
            </h2>
            <h3 class="h4 g-color-white">
              <span class="g-bg-black-opacity-0_6 g-px-5">Plus qu'un sport... une passion !</span><br>
            </h3>
          </div>
          <div class="col-lg-6">
            <img src="{{ asset('assets/frontend/img/logo_hbac.png') }}" class="img-fluid float-right g-rounded-50" alt="" style="opacity:0.7;filter:alpha(opacity=70);">
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
  <!-- End breadcrumbs Block -->

  <!-- Body -->
  <section id="about-section" class="g-pt-10 g-pb-10">
    <div class="container-fluid g-px-150 g-py-50">

      {% for message in app.flashes('success') %}
        <div class="alert alert-dismissible fade show g-bg-teal g-color-white rounded-0" role="alert">
          <button type="button" class="close u-alert-close--light" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>

          <div class="media">
                <span class="d-flex g-mr-10 g-mt-5">
                  <i class="icon-check g-font-size-25"></i>
                </span>
            <span class="media-body align-self-center">
                  <strong>Well done!</strong>
              {{ message }}
                </span>
          </div>
        </div>
      {% endfor %}
      {% for message in app.flashes('warning') %}
        <div class="alert alert-dismissible fade show g-bg-yellow rounded-0" role="alert">
          <button type="button" class="close u-alert-close--light" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>

          <div class="media">
                <span class="d-flex g-mr-10 g-mt-5">
                  <i class="icon-info g-font-size-25"></i>
                </span>
            <span class="media-body align-self-center">
                  <strong>Attention!</strong>
              {{message}}
                </span>
          </div>
        </div>
      {% endfor %}
      {% for message in app.flashes('error') %}
        <div class="alert alert-dismissible fade show g-bg-red g-color-white rounded-0" role="alert">
          <button type="button" class="close u-alert-close--light" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>

          <div class="media">
                <span class="d-flex g-mr-10 g-mt-5">
                  <i class="icon-ban g-font-size-25"></i>
                </span>
            <span class="media-body align-self-center">
                  <strong>Erreur!</strong>
              {{message}}
                </span>
          </div>
        </div>
      {% endfor %}

      {% block body %}{% endblock %}

    </div>
  </section>
  <!-- End Body -->

  {{ include("includeLayout/footer.html.twig") }}


  <!-- Copyright Footer -->
  <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
    <div class="container">
      <div class="row">
        <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
          <div class="d-lg-flex">
            <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">
              &copy; 2014-{{ "now"|date('Y') }} <em><b class="g-color-primary">H</b>and<b class="g-color-primary">B</b>all <b class="g-color-primary">A</b>tlantique <b class="g-color-primary">C</b>lub Sainte Pazanne</em></small>
          </div>
        </div>

        <div class="col-md-4 align-self-center">
          <ul class="list-inline text-center text-md-right mb-0">
            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Facebook">
              <a href="https://www.facebook.com/HBACSaintePazanne/" class="g-color-white-opacity-0_5 g-color-white--hover">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Skype">
              <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
                <i class="fa fa-skype"></i>
              </a>
            </li>
            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Linkedin">
              <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Pinterest">
              <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
                <i class="fa fa-pinterest"></i>
              </a>
            </li>
            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Twitter">
              <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Dribbble">
              <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
                <i class="fa fa-dribbble"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Copyright Footer -->
  <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
    <i class="hs-icon hs-icon-arrow-top"></i>
  </a>
</main>

<!-- JS Global Compulsory -->
<script src="{{ asset ('assets/frontend/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset ('assets/frontend/vendor/jquery-migrate/jquery-migrate.min.js') }}"></script>
<script src="{{ asset ('assets/frontend/vendor/popper.min.js') }}"></script>
<script src="{{ asset ('assets/frontend/vendor/bootstrap/bootstrap.min.js') }}"></script>

<script src="{{ asset ('assets/frontend/vendor/bootstrap/offcanvas.js') }}"></script>

<!-- JS Implementing Plugins -->
<script src="{{ asset ('assets/frontend/vendor/hs-megamenu/src/hs.megamenu.js') }}"></script>
<script src="{{ asset ('assets/frontend/vendor/dzsparallaxer/dzsparallaxer.js') }}"></script>
<script src="{{ asset ('assets/frontend/vendor/dzsparallaxer/dzsscroller/scroller.js') }}"></script>
<script src="{{ asset ('assets/frontend/vendor/dzsparallaxer/advancedscroller/plugin.js') }}"></script>
<script src="{{ asset ('assets/frontend/vendor/masonry/dist/masonry.pkgd.min.js') }}"></script>
<script src="{{ asset ('assets/frontend/vendor/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ asset ('assets/frontend/vendor/slick-carousel/slick/slick.js') }}"></script>
<script src="{{ asset ('assets/frontend/vendor/fancybox/jquery.fancybox.min.js') }}"></script>
<script src="{{ asset ('assets/frontend/vendor/gmaps/gmaps.min.js') }}"></script>

<!-- JS Unify -->
<script src="{{ asset ('assets/frontend/js/hs.core.js') }}"></script>
<script src="{{ asset ('assets/frontend/js/components/gmap/hs.map.js') }}"></script>

<script src="{{ asset ('assets/frontend/js/components/hs.header.js') }}"></script>
<script src="{{ asset ('assets/frontend/js/helpers/hs.hamburgers.js') }}"></script>

<script src="{{ asset ('assets/frontend/js/components/hs.popup.js') }}"></script>
<script src="{{ asset ('assets/frontend/js/components/hs.carousel.js') }}"></script>

<script src="{{ asset ('assets/frontend/js/components/hs.go-to.js') }}"></script>

<!-- JS Custom -->
<script src="{{ asset ('assets/frontend/js/custom.js') }}"></script>

<!-- JS Plugins Init. -->
<script>


  $(document).on('ready', function() {
    // initialization of go to
    $.HSCore.components.HSGoTo.init('.js-go-to');

    // initialization of carousel
    $.HSCore.components.HSCarousel.init('.js-carousel');

    $('#we-provide').slick('setOption', 'responsive', [
      {
        breakpoint: 992,
        settings: {
          slidesToShow: 2
        }
      }, {
        breakpoint: 576,
        settings: {
          slidesToShow: 1
        }
      }
    ], true);

    // initialization of carousel
    $.HSCore.components.HSCarousel.init('.js-carousel');

    // initialization of masonry
    $('.masonry-grid').imagesLoaded().then(function () {
      $('.masonry-grid').masonry({
        columnWidth: '.masonry-grid-sizer',
        itemSelector: '.masonry-grid-item',
        percentPosition: true
      });
    });

    // initialization of popups
    $.HSCore.components.HSPopup.init('.js-fancybox');
  });

  $(window).on('load', function () {
    // initialization of header
    $.HSCore.components.HSHeader.init($('#js-header'));
    $.HSCore.helpers.HSHamburgers.init('.hamburger');

    // initialization of HSMegaMenu component
    $('.js-mega-menu').HSMegaMenu({
      event: 'hover',
      pageContainer: $('.container'),
      breakpoint: 991
    });
  });
</script>


</body>

</html>
